{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
پروفایل | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}
<br>
<h3 style="font-size:30px;" class="whiteC-text uk-card-title uk-text-center fHarmattan uk-text-large">پروفایل</h3>
<div style="padding:5%" class="uk-grid-match uk-text-center uk-grid-large" uk-grid>

      <div class="uk-width-1-1 uk-block">
<div  class="uk-card uk-card-default uk-card-body milkywhiteC">

      <div style="margin-top:-25px; font-size:20px;"  class=" fHarmattan uk-text-large uk-grid-small" uk-grid><br>
          <div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-left redC-text" >نام کاربری</div><div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-right darkgreyC-text">{{user.username }}</div>
          <div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-left redC-text" >نام و نام خانوادگی</div><div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-right darkgreyC-text">{{user.name }}</div>
          <div class=" uk-width-1-2 uk-text-left redC-text" >آدرس</div><div class=" uk-width-1-2 uk-text-right darkgreyC-text">{{user.commonusers.address }}</div>
<a href="{% url 'accounts:passwordchange' user.slug %}" class="uk-button redC uk-width-1-1 uk-margin-small-bottom whiteC-text fHarmattan uk-text-large">تعویض رمز عبور</a>
      </div>
</div>

</div>

</div>

{% if orders %}
<h3 style="font-size:30px;" class="whiteC-text uk-card-title uk-text-center fHarmattan uk-text-large">سفارشات</h3>
{% endif %}

<div style="padding:5%" class="uk-grid-match uk-text-center uk-grid-large" uk-grid>

  {% for order in orders %}

        <div class="uk-width-1-1 uk-width-1-2@m uk-block">
  <div  class="uk-card uk-card-default uk-card-body milkywhiteC">

        <div style="margin-top:-25px; font-size:20px;"  class=" fHarmattan uk-text-large uk-grid-small" uk-grid>
            <div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-left redC-text" >نام محصول</div><div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-right darkgreyC-text">{{order.product.name }}</div>
            <div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-left redC-text" >تعداد سفارش داده شده</div><div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-right darkgreyC-text">{{order.number }}</div>
            <div class=" uk-width-1-2 uk-text-left redC-text" >توضیحات</div><div class=" uk-width-1-2 uk-text-right darkgreyC-text">{{order.description }}</div>

        </div>
  </div>

  </div>


    {% endfor %}
</div>
    {% endblock %}
