
{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
تایید عضویت | شعله خیز آذر
</title>
{% endblock %}
{% block body_block %}
<br><br>
<div style="padding:6%" class="uk-grid-match uk-text-center uk-grid-large" uk-grid>
  <div class="uk-width-1-1  uk-block">
<div  class="uk-card uk-card-default uk-card-body milkywhiteC">
    <h3 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">کد تایید</h3>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>
{{confirmation_form.Hfield}}
<div class="uk-width-1-2@m fHarmattan uk-text-center blackC-text">
کد ارسالی به شماره همراه {{phone_number}} را وارد کنید.
</div>
      <div class="uk-width-1-1@m">
      {{confirmation_form.code}}
      </div>



      {% if form.errors %}
      <div class="uk-width-1-1 fHarmattan darkgreyC-text whiteC-text"><p>
      خطایی رخ داد.
      لطفا فیلد هارا دوباره با دقت پر کنید.<br>
      در صورت تداوم خطا مشکل را به پشتیبانان سایت اطلاع دهید.<br>

      {{form.errors}}</p>
    </div>
      {% endif %}

      </div>
      <br>
      <button style="margin-top:20px;" class="uk-button uk-button-primary fHarmattan redC whiteC-text" type="submit">تایید
    </button><br><br>
    </form>
</div>

</div>
</div>
<br><br><br>

{% endblock %}
