ظ
{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
خطا | شعله خیز آذر
</title>
{% endblock %}
{% block body_block %}
<br><br>
<div style="padding:6%" class="uk-grid-match uk-text-center uk-grid-large" uk-grid>
  <div class="uk-width-1-1  uk-block">
<div  class="uk-card uk-card-default uk-card-body milkywhiteC">
    <h3 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">خطا</h3>
<div style="font-size:20px;" class="uk-text-justify fHarmattan">
شماره تلفن همراه ورودی شما معتبر نیست. لطفا پس از بررسی مجدد امتحان فرمائید.
<br>
دقت داشته باشید که باید شماره ی همراه خود را بدون در نظر گرفتن 0(صفر) اولیه آن وارد کنید. مانند 9141234567
  <br>
  با تشکر از همکاری شما
  <br>
  شعله خیز آذر
</div>
</div>

</div>
</div>
<br><br><br>

{% endblock %}
