
{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
فراموشی رمز عبور | شعله خیز
</title>
{% endblock %}
{% block body_block %}
<br><br>
<div style="padding:6%" class="uk-grid-match uk-text-center uk-grid-large" uk-grid>
  <div class="uk-width-1-1  uk-block">
<div  class="uk-card uk-card-default uk-card-body milkywhiteC">
    <h3 style="font-size:30px;" class="redC-text uk-card-title uk-align-center fHarmattan">فراموشی رمز عبور</h3>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>

      <div class="uk-width-1-1@m redC-text fHarmattan">
    شماره تلفن خود را وارد کنید تا رمز عبور جدید برای شما ارسال شود
      </div>

      <div class="uk-width-1-1@m" uk-grid>
        <div class="uk-width-5-6">
{{form.phone_number}}
</div>
  <div class="uk-width-1-6 redC-text uk-text-right " style="direction:ltr; font-size:18px;padding-top:5px; " >
    <span id="phonenumbervalidator" class="helper-text" data-error="wrong" data-success="right"></span>
+98

  </div>    </div>



              {% if form.errors %}
                  <div class="uk-width-1-1">
              <p  class="fHarmattan redC-text">
                مشکلی پیش آمد لطفا دوباره سعی کنید.<br>
                        {{error1}}
                        {{error2}}
                        {{error3}}
                        {{error4}}
                      </p>
              </div>
              {% endif %}

      </div>
      <br>
      <button style="margin-top:20px;" class="uk-button uk-button-primary fHarmattan redC darkgreyC-text" type="submit">تایید
    </button><br><br>
    </form>
</div>

</div>
</div>
<br><br><br>

{% endblock %}
