{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
تغییر رمز عبور | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}
<br>
<div style="padding:7%">


<div style="padding: 1%;border-radius: 8px;" uk-grid>
<div class=" uk-width-1-1 uk-block fHarmattan ">
<div class="uk-card uk-card-body milkywhiteC ">
<div class="uk-card uk-card uk-card-body uk-text-center">
    <h1 style="font-size:30px;" class="redC-text uk-card-title uk-align-center fHarmattan">تغییر رمز عبور</h1>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}


      <div  class="uk-grid-match uk-grid-small uk-text-center" uk-grid>

      <div class="uk-width-1-1 uk-width-1-3@m uk-width-1-2@s">
{{form.current_password}}
      </div>

      <div class="uk-width-1-1 uk-width-1-3@m uk-width-1-2@s">
{{form.new_password}}
      </div>

      <div class="uk-width-1-1 uk-width-1-3@m uk-width-1-2@s">
{{form.confirm_password}}
      </div>

    </div>


      <br>
      {% if form.errors %}
      <div class="uk-width-1-1 fHarmattan darkgreyC-text"><p>
      خطایی رخ داد.
      لطفا فیلد هارا دوباره با دقت پر کنید.<br>
      در صورت تداوم خطا مشکل را به پشتیبانان سایت اطلاع دهید.<br>

      {{form.errors}}</p>
    </div>
      {% endif %}

      <button style="margin-top:20px;" class="uk-button uk-button-primary fHarmattan redC " type="submit">تایید
    </button>
    </form>
</div>


</div>
</div>
</div>
</div>
<br><br>

    {% endblock %}
