{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
  درباره ما | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}
<br><br>
<div style="padding:7%">


<div style="padding: 1%;border-radius: 8px;" uk-grid>
<div class=" uk-width-1-1 uk-block fHarmattan ">
      <div class="uk-block milkywhiteC uk-text-center ">
<div class="uk-card uk-card uk-card-body">
    <h1 class=" redC-text uk-card-title uk-align-center fHarmattan uk-text-bold" style="font-size:30px;">درباره ما</h1>
    <p class="uk-text-justify fHarmattan" style="font-size:25px;">
      گروه صنعتی شعله خیز آذر با هدف انتقال جدید ترین تکنولوژی روز دنیا
       و در راستای تعهد به پیشرفت صنعت ملی در حوزه محصولات گرمایشی ، حرکت به سوی تولید محصول رادیاتور پنلی با نام
        شعله خیز آذر را در منطقه شمال غرب کشور آغاز کرد .
      این شرکت در فرصت کوتاه یکساله موفق شد به همت جمعی از جوانان کوشا
       و متخصص بومی ، محصول رادیاتور پنلی را با کیفیت بالا و متفاوت وارد چرخه تولیدات صنعتی داخلی نماید و این آغاز مسیری بود
        که این شرکت در آن گام نهاد و رفته رفته توانست به مقصد ارزشمند و هدف والای خود کمی نزدیکتر شود.<br>
      به امید آنکه رادیاتور پنلی شعله خیز آذر با همان گرمای همانند خورشید فروزانمان ،وارد کانون گرم خانه
      و خانواده های شما گردد و این حسن انتخاب شما بزرگترین افتخار و دلگرمی برای گروه صنعتی شعله خیز آذر می باشد.
    </p>

</div>


</div>
</div>
</div>
</div>
    {% endblock %}
