{% load static %}
<!DOCTYPE html>
<html dir="rtl" class="redC" style="overflow-x: hidden;">
  <head>
    {% block head_block %}
    {% endblock %}
    {% load static %}
    <!DOCTYPE html>
        <meta charset="utf-8">
        <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/uikit-rtl.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <script src="{% static 'js/uikit.min.js' %}" ></script>
        <script src="{% static 'js/uikit-icons.min.js' %}" ></script>
      </head>
      <body style="background-color: #ff0a0a;" class="redC">
        <header>
            <!-- Main Navbar -->
            <nav class="uk-navbar-container uk-margin" style="position: fixed;right: 0;left: 0;top: 0;z-index: 1030;box-shadow: 0 15px 17px rgba(0, 0,0, 0.18);" uk-navbar>
                <div class="uk-navbar-center">
                  <div class="uk-navbar-center-left"><div>
    <ul  class="uk-navbar-nav uk-visible@m">
      <li>
    <a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " class="  " href="#">محصولات و سفارش</a>
    <div  class="uk-navbar-dropdown " style="margin-top:-10px; background-color:#f2f2f2;">
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " href="{% url 'products:radiatorlist' %}">رادیاتور پانلی</a></li>
            <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " href="{% url 'products:towerdryerlist' %}">حوله خشک کن</a></li>
            <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " href="{% url 'products:packagelist' %}">پکیج دیواری</a></li>
            <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " href="{% url 'products:waterheaterlist' %}">آبگرمکن</a></li>
        </ul>
    </div>
</li>
<li>
<a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " class="  " href="#">همکاری</a>
<div  class="uk-navbar-dropdown" style="margin-top:-10px; background-color:#f2f2f2;">
  <ul class="uk-nav uk-navbar-dropdown-nav ">
      <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " href="{% url 'cooperation:jobopportunitylist' %}">فرصت های شغلی</a></li>
      <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " href="{% url 'cooperation:createdelegationrequest' %}">درخواست نمایندگی</a></li>
      <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px; " href="{% url 'cooperation:createrepairmanrequest' %}">درخواست سرویسکاری</a></li>
  </ul>
</div>
</li>

      <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'gallery:gallery' %}">گالری</a></li>
<li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="https://sholehkhiz.com/blog/">وبلاگ</a></li>
    </ul>
          <a href="#" class="uk-navbar-toggle uk-hidden@m redC-text" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
</div></div>
        <a class="uk-navbar-item uk-logo" href="{% url 'home' %}"><img src="/media/Logo/logo.png" width="90"></a>
        <div class="uk-navbar-center-right"><div>
    <ul class="uk-navbar-nav">
      <ul class="uk-navbar-nav uk-visible@m">
        {% if user.is_authenticated and user.is_superuser%}
          <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'accounts:superuserdashboard' %}">داشبورد</a></li>
          {% endif %}
        {% if user.is_authenticated %}
        <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'logout' %}">خروج</a></li>
        {% if user.is_commonuser %}
        <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'commonuser:profile' user.slug %}">پروفایل</a></li>
        {% endif %}
        {% else %}
          <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'accounts:login' %}">ورود</a></li>
          <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'commonuser:signup' %}">عضویت</a></li>
          {% endif %}
          <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'delegations:publiclist' %}">نمایندگی ها</a></li>

      <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:21px;" class=" " href="{% url 'company:contact-us' %}">تماس با ما</a></li>

      </ul>

    </ul>
</div></div>

</div>

            </nav>
        </header>

        <div style="z-index:5000" id="sidenav" uk-offcanvas="flip: true" style="box-shadow: 0 15px 17px rgba(0, 0,0, 0.18);" class="uk-offcanvas milkywhiteC">
            <div style="box-shadow: 0 15px 17px rgba(0, 0,0, 0.18);" class="uk-offcanvas-bar milkywhiteC">
                <ul class="uk-nav">
                  {% if user.is_authenticated and user.is_superuser%}
                    <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'accounts:superuserdashboard' %}">داشبورد</a></li>
                    {% endif %}
                  {% if user.is_authenticated %}
                  <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'logout' %}">خروج</a></li>
                  {% if user.is_commonuser %}
                  <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'commonuser:profile' user.slug %}">پروفایل</a></li>
                  {% endif %}
                  {% else %}
                    <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'accounts:login' %}">ورود</a></li>
                    <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'commonuser:signup' %}">عضویت</a></li>
                    {% endif %}
                    <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'delegations:publiclist' %}">نمایندگی ها</a></li>
                    <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="https://sholehkhiz.com/blog/">وبلاگ</a></li>

                <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'company:contact-us' %}">تماس با ما</a></li>
<li><span style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;">محصولات و سفارش</span></li>
                </ul>

                <ul>
                  <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px; " href="{% url 'products:radiatorlist' %}">رادیاتور پانلی</a></li>
                  <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px; " href="{% url 'products:towerdryerlist' %}">حوله خشک کن</a></li>
                  <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px; " href="{% url 'products:packagelist' %}">پکیج دیواری</a></li>
                  <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px; " href="{% url 'products:waterheaterlist' %}">آبگرمکن</a></li>
                </ul>
                <ul class="uk-nav">
                  <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'gallery:gallery' %}">گالری</a></li>
            <li><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;" class=" " href="{% url 'company:about-us' %}">درباره ما</a></li>
            <li><span style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px;">همکاری</span></li>
                </ul>
                <ul >
                    <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px; " href="{% url 'cooperation:jobopportunitylist' %}">فرصت های شغلی</a></li>
                    <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px; " href="{% url 'cooperation:createdelegationrequest' %}">درخواست نمایندگی</a></li>
                    <li class="uk-active"><a style="color:#ff0a0a; font-family: 'Harmattan', sans-serif; font-size:20px; " href="{% url 'cooperation:createrepairmanrequest' %}">درخواست سرویسکاری</a></li>
                </ul>
            </div>
        </div>
<br><br><br><br>
      {% block body_block %}
      {% endblock %}
      <footer class="whiteC" style="padding:50px;">
<div  class="uk-grid uk-grid-small uk-child-width-1-2 uk-child-width-1-4@s fHarmattan" uk-grid>
  <div class="uk-text-">
<a href="{% url 'company:about-us' %}" class="redC-text">درباره ما</a><br>
<a href="{% url 'company:contact-us' %}" class="redC-text">تماس با ما</a><br>
<a href="{% url 'cooperation:jobopportunitylist' %}" class="redC-text">فرصت های شغلی</a><br>
<a href="{% url 'cooperation:createdelegationrequest' %}" class="redC-text">درخواست نمایندگی</a><br>
<a href="{% url 'cooperation:createrepairmanrequest' %}" class="redC-text">درخواست سرویسکاری</a><br>
  </div>
  <div class="uk-text-=">
    <a href="{% url 'products:packagelist' %}" class="redC-text">پکیج</a><br>
    <a href="{% url 'products:radiatorlist' %}" class="redC-text">رادیاتور</a><br>
    <a href="{% url 'products:waterheaterlist' %}" class="redC-text">آبگرمکن</a><br>
    <a href="{% url 'products:towerdryerlist' %}" class="redC-text">حوله خشک کن</a><br>
<a href="{% url 'gallery:gallery' %}" class="redC-text">گالری</a><br>
  </div>
  <div class="uk-text-">
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="redC-text">خروج</a><br>
    {% else %}
      <a href="{% url 'accounts:login' %}" class="redC-text">ورود</a><br>
      {% endif %}
<a href="{% url 'commonuser:signup' %}" class="redC-text">عضویت</a><br>
<a href="{% url 'delegations:publiclist' %}" class="redC-text">نمایندگی ها</a><br>
<a href="https://sholehkhiz.com/blog/" class="redC-text">وبلاگ</a><br>
<a href="{% url 'home' %}" class="redC-text">صفحه اصلی</a><br>
  </div>
  <div class="uk-text-center">
    <a href="https://t.me/sholehkhizco/" class="redC-text"> <img width="35" src="/media/Logo/telegram.png" alt=""></a><br>
    <a href="https://www.instagram.com/sholehkhizazar/" class="redC-text"><img width="35" src="/media/Logo/instagram.png" alt=""></a><br>

  </div>
</div>



</footer>
      <span class="uk-grid-match uk-grid-small uk-text-center "  uk-grid>

        <div class="uk-width-1-3 whiteC-text fHarmattan uk-text-center" style="padding-right:5%; font-size:12px;">
طراحی سایت نواح
09368361943
        </div>
            <div class="uk-width-2-3  whiteC-text fHarmattan uk-text-justify" style="padding-right:5%">
              تمام حقوق تحت شرکت شعله خیز آذر محفوظ است.
        </div>

      </span>
      {% block script_block %}
      {% endblock %}
    </body>
  </html>
