{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
سفارشات چک نشده | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}
<br>
<h3 style="font-size:30px;" class="whiteC-text uk-card-title uk-text-center fHarmattan uk-text-large">سفارشات چک نشده</h3>
<div style="padding:5%" class="uk-grid-match uk-text-center uk-grid-large" uk-grid>
{% if order_list %}
{% for order in order_list %}

      <div class="uk-width-1-1 uk-width-1-3@m uk-width-1-2@s uk-block">
<div style="border-radius:8px; " class="uk-card uk-card-default uk-card-body milkywhiteC">

      <div style="margin-top:-25px; font-size:20px;"  class=" fHarmattan uk-text-large uk-grid-small" uk-grid>
          <div class="uk-width-1-2 uk-text-left redC-text" >نام سفارش دهنده</div><div class="uk-width-1-2 uk-text-right darkgreyC-text">{{ order.user.name }}</div>

          <div class="uk-width-1-2 uk-text-left redC-text" >محصول سفارش شده</div><div class="uk-width-1-2 uk-text-right darkgreyC-text">{{ order.product.name }}</div>
          <div class="uk-width-1-2 uk-text-left redC-text" >تعداد سفارش</div><div class="uk-width-1-2 uk-text-right darkgreyC-text">{{order.number}}</div>

<br>
{% if user.is_superuser %}
<div class="uk-width-1-1 uk-text-right">
<a class="uk-button uk-button-large redC whiteC-text fHarmattan uk-text-large uk-width-1-1" href="{% url 'order:detail' order.pk %}" >جزئیات</a>
</div>
{% endif %}

      </div>



</div>

</div>

{% endfor %}
{% else %}
<div class="uk-width-1-1 uk-block">
<div  class="uk-card uk-card-default uk-card-body milkywhiteC">

<div style="margin-top:-25px"  class=" fHarmattan uk-text-large uk-grid-small" uk-grid>
    <div class="uk-width-1- uk-text-center redC-text" >فعلا هیچ سفارش چک نشده ای وجود ندارد

<br>
شعله خیز آذر.
    </div>


</div>



</div>

</div>
{% endif %}
</div>
    {% endblock %}
