{% extends "BaseTemplates/base2.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
تولید کننده ی محصولات گرمایشی | شعله خیز
</title>
{% endblock %}

{% block body_block %}



<!-- Intro Section  ***********************************************************************************  -->
<div style="padding-left:10%; padding-right:10%;" class="uk-container">

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"  uk-slideshow="autoplay: true;autoplay-interval: 5000;">

    <ul class="uk-slideshow-items">

        <li>
            <img src="/media/homepage/4.jpg" alt="" uk-cover>
        </li>
        <li>
            <img src="/media/homepage/3.jpg" alt="" uk-cover>
        </li>
        <li>
            <img src="/media/homepage/2.jpg" alt="" uk-cover>
        </li>
        <li>
            <img src="/media/homepage/1.jpg" alt="" uk-cover>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>

</div>
<br>
 <!-- PRODUCTS Section  ***********************************************************************************  -->
 <section style="background-color: #FFFFFF;" class="whiteC">

 <br>
 <h1 id="products" class="uk-h1 tm-heading-fragment fHarmattan redC-text uk-text-center">محصولات و سفارش</h1>

<div style="padding:4%" class="uk-grid-match uk-text-center uk-grid-small" uk-grid>
<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-block fHarmattan uk-text-center">
  <div ><a href="{% url 'products:radiatorlist' %}">
    <div class="uk-overflow-hidden" >
        <img src="/media/Logo/radiator2.jpeg" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
    </div>
</a>
</div>
<h2 class="uk-text-top fHarmattan redC-text" style="z-index:50; margin-top:-5%;" >رادیاتور</h2>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-block fHarmattan uk-text-center">
      <div><a href="{% url 'products:packagelist' %}">
        <div class="uk-overflow-hidden">
            <img src="/media/Logo/package2.jpeg" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
        </div>
        </a>
    </div>
    <h2 class="uk-text-top fHarmattan redC-text" style="z-index:50; margin-top:-5%;">پکیج</h2>
</div>
      <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-block fHarmattan uk-text-center">
        <div><a href="{% url 'products:waterheaterlist' %}">
          <div class="uk-overflow-hidden">
              <img src="/media/Logo/waterheater2.jpeg"  uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
          </div></a>
      </div>
      <h2 class="uk-text-top fHarmattan redC-text" style="z-index:50; margin-top:-5%;">آبگرمکن</h2>
</div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-block fHarmattan uk-text-center">
          <div><a href="{% url 'products:towerdryerlist' %}">
            <div class="uk-overflow-hidden">
                <img src="/media/Logo/toweldryer2.jpg"  uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
            </div></a>
        </div>
        <h2 class="uk-text-top fHarmattan redC-text" style="z-index:50; margin-top:-5%;">حوله خشک کن</h2>
</div>
  </div>
  <br>
  <br>
 </section>

 <!-- Delegations Section  ***********************************************************************************  -->


 <div class="uk-grid-match uk-grid-small uk-text-center uk-visible@m" style="background-color:#ebebeb;padding:4%" uk-grid>
   <div class=" uk-width-1-3@s uk-align-center">
     <h1 id="delegations" class="uk-h1 tm-heading-fragment fHarmattan redC-text uk-text-center">نمایندگی ها</h1>
 <br><br><br>
 <p class="fHarmattan uk-text-justify" style="font-size:24px;">
 تبریز- تهران-  ساری- اردبیل- کرج- یزد- قم- شیراز- مشهد- شهرکرد- سردشت- فولاد شهر- ماکو- کرمانشاه-
  زاهدان- همدان- زنجان- سلماس- رشت- ارومیه- دیوان دره- سنندج- ملایر- شبستر- نور- چالوس- سقز- نوشهر-
  اراک- پیرانشهر- ایلام- بجنورد- قائم شهر- نیشابور- مهاباد- مرودشت- تویسرکان- خرمدره- مریوان- نکا-
  سنقر- آستارا
 </p>
   </div>
       <div class=" uk-width-2-3@s  uk-block ">
         <img src="/media/homepage/iran-map.png" alt="">
   </div>
   </div>
   <div class="uk-grid-match uk-grid-small uk-text-center uk-align-center uk-hidden@m" style="background-color:#ebebeb;padding:4%">

       <h1 id="delegations" class="uk-h1 tm-heading-fragment fHarmattan redC-text uk-align-center uk-text-center">نمایندگی ها</h1>
   <br>
  <p class="fHarmattan uk-text-justify" style="font-size:24px;">
  تبریز- تهران-  ساری- اردبیل- کرج- یزد- قم- شیراز- مشهد- شهرکرد- سردشت- فولاد شهر- ماکو- کرمانشاه-
   زاهدان- همدان- زنجان- سلماس- رشت- ارومیه- دیوان دره- سنندج- ملایر- شبستر- نور- چالوس- سقز- نوشهر-
   اراک- پیرانشهر- ایلام- بجنورد- قائم شهر- نیشابور- مهاباد- مرودشت- تویسرکان- خرمدره- مریوان- نکا-
   سنقر- آستارا
  </p>

           <img src="/media/homepage/iran-map.png" width="100%" height="100%" alt="">
     </div>



 <!-- AboutUs Section  ***********************************************************************************  -->
 <section class="whiteC">
<br>
<img class="uk-visible@s" data-src="/media/homepage/factory_landscape.jpeg" width="100%"    alt="شرکت شعله خیز آذر" uk-img>

 <div class="uk-hidden@s uk-background-cover uk-height-large" href="" style="background-image: url(/media/homepage/factory_square.jpeg);">
 </div>


   <h1 id="aboutus" class="uk-h1 tm-heading-fragment uk-text-center redC-text fHarmattan">معرفی شرکت</h1>
  <div class="uk-container">

 <p class="blackC-text fHarmattan uk-text-justify" style="font-size:24px;">
     گروه صنعتی شعله خیز آذر با هدف انتقال جدیدترین تکنولوژی روز دنیا و در راستای تعهد به پیشرفت صنعت ملی در حوزه محصولات گرمایشی، حرکت به سوی تولید محصول رادیاتور پنلی با نام شعله خیز آذر را در منطقه شمال غرب کشور آغاز کرد .

این شرکت در فرصت کوتاه یکساله موفق شد به همت جمعی از جوانان کوشا و متخصص بومی، محصول رادیاتور پنلی را با کیفیت بالا و متفاوت وارد چرخه تولیدات صنعتی داخلی نماید و این آغاز مسیری بود که این شرکت در آن گام نهاد و رفته رفته توانست به مقصد ارزشمند و هدف والای خود کمی نزدیکتر شود.

به امید آنکه رادیاتور پنلی شعله خیز آذر با همان گرمای همانند خورشید فروزانمان ،وارد کانون گرم خانه و خانواده های شما گردد و این حسن انتخاب شما بزرگترین افتخار و دلگرمی برای گروه صنعتی شعله خیز آذر می باشد.
</p>
  </div>
<br>
</section>



    {% endblock %}
    {% block script_block %}
    <script type="text/javascript">
      var spyNav = UIkit.scrollspyNav('#sidenav', {closest: 'li', scroll: true, offset:170, cls:'uk-active'});
    </script>
    {% endblock %}








    <section style="background-color: #FFFFFF;" class="whiteC">

    <br>
    <h1 id="products" class="uk-h1 tm-heading-fragment fHarmattan redC-text uk-text-center">محصولات و سفارش</h1>

   <div style="padding:4%" class="uk-grid-match uk-text-center uk-grid-small" uk-grid>
   <div class="uk-width-1-1 uk-width-1-2@s uk-block fHarmattan uk-text-center">
     <a style="margin-top:-13px;margin-bottom:-13px"  class="uk-overflow-hidden  uk-block fHarmattan" href="{% url 'products:radiatorlist' %}">
       <div class="uk-animation-kenburns uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="/media/Logo/radiator.jpeg" uk-img>

   </div>
   <h4 style=" z-index:50; margin-top:-22px;" class="fHarmattan redC-text ">رادیاتور پنلی</h4>
       </a>
       </div>
       <div class="uk-width-1-1 uk-width-1-2@s uk-block fHarmattan uk-text-center">
       <a style="margin-top:-13px;margin-bottom:-13px" class="uk-overflow-hidden uk-block fHarmattan" href="{% url 'products:packagelist' %}">
         <div class=" uk-animation-kenburns uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="/media/Logo/package.jpeg" uk-img>

     </div>
         <h4 style=" z-index:50; margin-top:-22px;" class="fHarmattan redC-text">پکیج دیواری</h4>
         </a></div>
         <div class="uk-width-1-1 uk-width-1-2@s uk-block fHarmattan uk-text-center">
         <a style="margin-top:-13px;margin-bottom:-13px"  class="uk-overflow-hidden uk-block fHarmattan" href="{% url 'products:towerdryerlist' %}">
           <div class=" uk-animation-kenburns uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="/media/Logo/toweldryer.jpeg" uk-img>
       </div>
       <h4 style=" z-index:50; margin-top:-22px;" width="100%" height="100%" class="fHarmattan redC-text ">حوله خشک کن</h4>
           </a></div>
           <div class="uk-width-1-1 uk-width-1-2@s uk-block fHarmattan uk-text-center">
           <a style="margin-top:-13px;margin-bottom:-13px" width="100%" height="100%" class="uk-overflow-hidden uk-block fHarmattan" href="{% url 'products:waterheaterlist' %}">
             <div class=" uk-animation-kenburns uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="/media/Logo/waterheater.jpeg" uk-img>
         </div>
               <h4 style=" z-index:50; margin-top:-22px;" class="fHarmattan redC-text">آبگرمکن</h4>
             </a></div>
     </div>
     <br>
     <br>
    </section>
