{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
  افزودن محصول | شعله خیز
</title>
{% endblock %}

{% block body_block %}
<br>
<div class="uk-grid-match uk-grid-small uk-text-center redC" uk-grid>
  <div class="uk-width-1-6 uk-width-1-4@m">

  </div>
      <div class="uk-width-2-3 uk-width-1-2@m uk-block milkywhiteC">
<div class="uk-card uk-card uk-card-body">
    <h3 class=" redC-text uk-card-title uk-align-center fHarmattan">ایجاد محصول</h3>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>
      <div class="uk-width-1-2@m">
{{products_form.name}}
      </div>
      <div class="uk-width-1-2@m">
      {{products_form.picture}}
      </div>
      <div class="uk-width-1">
      {{products_form.description}}
      </div>
      <div class="uk-width-1-2@m">
      {{products_form.errors}}
      </div>
      </div>

      <button style="margin-top:20px;" class="uk-button uk-button-primary fHarmattan redC " type="submit">تایید
    </button>
    </form>
</div>


</div>
<div class="uk-width-1-6 uk-width-1-4@m">

</div>
</div>
    {% endblock %}
